<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header mt-5">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <img src="assets/logo.svg" class="img-responsive w-100" alt="Responsive image">
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <hr>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <span class="nav-link active" aria-current="page">Cadastro de perfil</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Cadastrar</a>
            <a class="nav-link" [routerLink]="['/login']" href="javascript:void(0)" data-bs-dismiss="offcanvas">Entrar</a>
            <hr>
            <a class="nav-link" href="javascript:void(0)">Ofertas</a>
            <a class="nav-link" href="javascript:void(0)">Fale conosco</a>
            <a class="nav-link" href="javascript:void(0)">Parceiros</a>
            <a class="nav-link" href="javascript:void(0)">Sobre</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
